<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" charset="utf-8">
    <!-- Required Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <!-- View Point -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- Required scripts -->
    <script src="/static/javascripts/vue.min.js"></script>
    <script src="/static/javascripts/vuetify.min.js"></script>
    <script src="/static/javascripts/axios.min.js"></script>
    <title>{% block title %}{% endblock %} - UMAP</title>
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>